<div class="page-header">
	<h1>Courses</h1>
</div>
<div class="row" ng-controller="CourseController as tab">
	<div class="col-sm-2 col-md-2">
		<ul class="nav nav-pills nav-stacked">
			<li class="active:controller.isSet(1)}"
				ng-repeat="instrument in controller.listInstruments"><a
				ng-click="controller.setInstrument(instrument)" href="#/courses">{{instrument.name}}</a></li>
		</ul>
	</div>
	<div class="col col-md-10">
		<div ng-show="tab.isSet(1)" class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Course Details</h3>
			</div>
			<div class="panel-body">
				<div class="row ">
					<div class="col-md-2">
						<img
							src="http://thumbs.dreamstime.com/m/vector-indian-instruments-traditional-set-music-billboard-63457842.jpg">
					</div>
					<div class="col-md-8">
						<u>{{controller.instrument.name}}</u>:
						{{controller.instrument.description}}
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">List of instructors</h3>
			</div>
			<form ng-submit="controller.saveStudent()">
				<div class="container-fluid">
					<table class="toppad col-md-10 table-striped">
						<thead>
							<tr>
								<th>Instrument Image</th>
								<th>Instructor Name</th>
								<th>Rating</th>
								<th>Experience</th>
								<th>Add</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="instructor in controller.listInstructors">
								<td><img class="img-circle img-responsive"
									src="http://lorempixel.com/100/100" /></td>
								<td><strong>{{instructor.name}}</strong></td>
								<td><span class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span> <span
									class="glyphicon glyphicon-star"></span></td>
								<td><strong>{{instructor.experience}}</strong></td>
								<td><input type="checkbox"
									ng-click="controller.addInstructor(instructor)"></td>
							</tr>
						</tbody>
					</table>
				</div>
						<button class="btn btn-lg btn-primary btn-block "
			style="height: 40px; width: 100px" type="submit">Submit</button>
			</form>
		</div>

	</div>
</div>